// Animations

@use './utilities' as *;

.fadeIn {
  animation: fadeIn 800ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slideUp {
  animation: slideUp 800ms cubic-bezier(0.04, 0.86, 1, 0.99) forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

// Animations - Delay - Duration
@for $i from 1 through 8 {
  .delay-#{$i} {
    animation-delay: #{$i}00ms;
  }

  .duration-#{$i} {
    animation-duration: #{$i}00ms;
  }
}