// Animations

@use './utilities' as *;

.fadeIn {
  animation: fadeIn 800ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slideUpFaster {
  @include slideUp(300);
}

.slideUp {
  @include slideUp(800);
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

// Animations - Delay
@for $i from 1 through 6 {
  .delay-#{$i} {
    animation-delay: #{$i}00ms;
  }
}