// Reset

@use '../base' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  color: $light-color;
  background: $dark-color;
}

.overflow--hidden {
  overflow-y: hidden;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, scale-color($primary-color, $alpha: -50%), transparent);
}

.container {
  padding: 0 20px;
}