// Reset

@use '../base/utilities' as *;

::selection {
  background: scale-color($primary-color, $alpha: -60%);
  color: $light-color;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: $primary-font;
  color: $light-color;
  background: $dark-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

img {
  user-select: none;
}