// SASS Utilities

// Colors
$light-color: #FFF;
$dark-color: #000;
$primary-color: #C435E8;
$twitter-color: #1DA1F2;
$linkedin-color: #0077B5;

// Font
$primary-font: 'Saira', sans-serif;
$xl-size: 2.5em;
$l-size: 1.5em;
$m-size: 1.125em;
$n-size: 1em;
$s-size: 0.9em;
$xs-size: 0.75em;
$xxs-size: 0.6em;

// Classes
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, scale-color($primary-color, $alpha: -50%), transparent);
}

.blur {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: scale-color($dark-color, $alpha: -40%);
  backdrop-filter: blur(20px);
}

.blur--active {
  display: block;
}

.overflow--hidden {
  overflow: hidden;
}

.borders {
  display: none;
}

.container {
  width: 100%;
  max-width: 850px;
  padding: 0 20px;
  margin: 0 auto;
}