// Utilities

// Colors
$light-color: #FFF;
$dark-color: #000;
$primary-color: #C435E8;
$twitter-color: #1DA1F2;
$linkedin-color: #0077B5;

// Font
$primary-font: 'Saira', sans-serif;
$xl-size: 2.5em;
$l-size: 1.5em;
$m-size: 1.125em;
$n-size: 1em;
$s-size: 0.9em;
$xs-size: 0.75em;
$xxs-size: 0.6em;

// Mixins
@mixin setPosition($position, $index: null) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @if $index != null {
    z-index: $index;
  }
}

@mixin setFont($size, $weight, $color: null) {
  font-size: $size;
  font-weight: $weight;
  @if $color != null {
    color: $color;
  }
}

@mixin setFlex($property: null, $value: center) {
  display: flex;
  align-items: center;
  @if $property != null {
    #{$property}: $value;
  }
}

// Classes
.container {
  width: 100%;
  max-width: 850px;
  padding: 0 20px;
  margin: 0 auto;
}

.background {
  background: linear-gradient(to bottom, scale-color($primary-color, $alpha: -50%), transparent);
  @include setPosition(absolute, -100);
}

.blur {
  display: none;
  backdrop-filter: blur(20px);
  background: scale-color($dark-color, $alpha: -40%);
  @include setPosition(fixed, 20);

  &--active {
    display: block;
  }
}

.overflow--hidden {
  overflow: hidden;
}