// Specific index's styles

@use '../base/utilities' as *;

// Main Section - Hero
.index-main-section {
  align-self: center;
}

.hero {
  text-align: center;

  &__picture {
    width: 150px;
  }

  &__title {
    margin: 25px 0 10px;

    h1 {
      margin: 0;
      line-height: 1.2em;
      transform: translateY(200%);
      @include setFont($xl-size, 500);
    }
  }

  &__description {
    margin: 0 0 30px;

    p {
      margin: 0;
      transform: translateY(200%);
      font-size: $m-size;
    }
  }

  &__cta {

    a {
      display: inline-block;
      text-decoration: none;
      transform: translateY(200%);
      font-size: $s-size;
      color: $primary-color;

      img {
        margin-left: 5px;
        vertical-align: middle;
        opacity: .4;
        transition: all 200ms;
      }

      &:hover img {
        opacity: 1;
      }
    }
  }
}

// Footer - Follow
.index-footer {
  padding: 40px 0;
  text-align: center;
  color: scale-color($light-color, $alpha: -40%);

  &__text {

    p {
      margin: 0;
      transform: translateY(200%);
      font-size: $s-size;
    }
  }

  a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: scale-color($light-color, $alpha: -60%);
    color: $light-color;

    &:hover {
      text-decoration-color: $light-color;
    }
  }
}