// Specific portfolio's styles

@use '../base/utilities' as *;

.pinned-message {
  margin-bottom: 40px;
  overflow-y: hidden;

  p {
    margin: 0;
    font-size: $n-size;
    transform: translateY(200%);
  }
}

.projects {
  display: grid;
  gap: 20px;
  justify-content: center;
  opacity: 0;
}