// Article

@use '../base/utilities' as *;

.article {
  display: grid;
  grid-auto-rows: max-content;
  gap: 20px;
  color: scale-color($light-color, $alpha: -40%);

  &__title {
    margin: 0;
    font-weight: 600;
    color: $light-color;
  }

  &__text {
    margin: 0;
  }

  &__link {
    display: inline-flex;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: scale-color($light-color, $alpha: -60%);
    align-items: center;
    color: $light-color;

    img {
      width: 15px;
      height: 15px;
      transition: all 200ms;
    }

    &:hover {
      text-decoration-color: $light-color;
    }

    &:hover img {
      transform: translateX(0);
    }

    & .social-menu__icon {
      margin-left: 5px;
    }

    & > img {
      opacity: .4;
    }

    &:hover > img {
      opacity: 1;
    }
  }
}

.list {

  &__item {
    display: grid;
    grid-template-columns: 15px 1fr;
    align-items: center;
    gap: 20px;
  }
}

.link-list {

  img {
    margin-left: 0;
  }

  span {
    margin-left: 20px;
  }

  & .social-menu__icon {
    margin-left: 0;
  }
}