// Burger Button

@use '../base' as *;

.burger-btn {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;

  i {
    display: inline-block;
    width: 50px;
    height: 3px;
    position: absolute;
    background: $light-color;
    box-shadow: 0 0 10px $primary-color;
    transition: all .5s;

    &:first-child {
      top: 15px;
    }

    &:nth-child(2) {
      width: 37.5px;
      top: 23.5px;
      left: 6.25px;
    }

    &:last-child {
      width: 25px;
      bottom: 15px;
      left: 12.5px;
    }
  }

  &--active {
    z-index: 10;

    i {
      background: $primary-color;

      &:first-child {
        top: 25px;
        transform: rotateZ(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(100px);
      }

      &:last-child {
        width: 50px;
        bottom: 22px;
        left: 0;
        z-index: 20;
        box-shadow: 0 0 10px $primary-color, 0 0 4px $dark-color;
        transform: rotateZ(45deg);
      }
    }
  }
}