// Responsive - Desktop > 1024px

@use '../base/utilities' as *;

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: .4em;
  }

  ::-webkit-scrollbar-track {
    background: $dark-color;
  }

  ::-webkit-scrollbar-thumb {
    background: scale-color($light-color, $alpha: -60%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $light-color;
  }

  .grid {
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
    grid-template-columns: [margin1-start] 100px [margin1-end margin2-start] 100px [margin2-end main-start] minmax(auto, 850px) [main-end margin3-start] 100px [margin3-end margin4-start] 100px [margin4-end];
    justify-content: center;
  }

  .grid-boundaries {
    display: block;
  }

  .container {
    padding: 0;
  }

  .navbar {
    display: grid;
    height: auto;
    padding: 0;
    grid-area: auto / margin1-start / auto / margin4-end;
    grid-template-columns: [margin1-start] 100px [margin1-end margin2-start] 100px [margin2-end main-start] minmax(auto, 850px) [main-end margin3-start] 100px [margin3-end margin4-start] 100px [margin4-end];

    &__btn {
      display: flex;
      justify-content: center;
      grid-area: auto / margin3-start / auto /  margin4-end;
    }

    &__menu {
      grid-area: auto / margin3-start / auto / margin4-end;
    }

    .arrow {
      width: 35px;
      position: fixed;
      top: 55px;
      z-index: 10;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    grid-area: auto / margin1-start / auto / margin2-end;

    &__text {
      position: fixed;
      top: 55px;
      z-index: 10;
    }
  }

  .burger-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 40px;

    i {
      width: 100%;

      &:first-child {
        top: 20px;
      }

      &:nth-child(2) {
        width: 45px;
        top: 28.5px;
        left: 7.5px;
      }

      &:last-child {
        width: 30px;
        bottom: 20px;
        left: 15px;
      }
    }

    &--active {

      i {

        &:first-child {
          top: 30px;
        }

        &:last-child {
          width: 100%;
          bottom: 27px;
          left: 0;
        }
      }
    }
  }

  .menu-container {
    padding-right: 70px;
    top: 120px;
    right: unset;
  }

  .header {
    grid-area: auto / margin2-start / auto / margin3-end;
    border-bottom: 1px solid scale-color($primary-color, $alpha: -80%);

    &__title {
      margin: 40px 0;
    }
  }

  .about-header {
    grid-area: auto / main-start / auto / main-end;
    border: none;

    &__title {
      padding: 0;
      margin: 40px 0 10px;
    }
  }

  .pinned, .main-section, .footer {
    grid-area: auto / main-start / auto / main-end;
  }

  .header, .pinned-message, .project__options, .hero, .index-footer, .about-me, .project-options, .project-info {
    font-size: 20px;
  }

  .pinned-message {
    margin: 30px 0 40px;
  }

  .about-pinned-message {
    margin: 10px 0 50px;
  }

  .footer {
    font-size: 18px;

    img {
      width: 12px;
    }

    .social-menu__icon {
      width: 12px;
      height: 12px;
      column-gap: 12px;

      img {
        transform: translateX(-24px);
      }
    }
  }

  .project {

    &__options {

      .options__github {
        width: 20px;
        height: 20px;
        column-gap: 20px;

        img {
          transform: translateX(-40px);
        }
      }

      img {
        width: 20px;
      }

      .options a:last-child {

        img {
          width: 15px;
        }
      }
    }
  }

  .index-grid {
    @extend .grid;
    @include setPosition(fixed);
  }

  .index-main-section {
    padding: 25px 0 0;
    grid-area: 2 / main-start / 3 / main-end;
  }

  .hero {

    &__picture {
      width: 250px;
    }
  }

  .index-footer {
    grid-area: 3 / main-start / -1 / main-end;
  }

  .slideshow__screen {
    height: 395px;
    max-width: unset;

    .main-screen {
      height: 370px;
    }

    .arrow {
      width: 25px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .slideshow__screen {
    height: 495px;

    .main-screen {
      height: 470px;
    }
  }
}

@media screen and (min-width: 1240px) {
  .slideshow__screen {
    height: 560px;

    .main-screen {
      height: 545px;
    }
  }
}