// Follow Section

@use '../base/utilities' as *;

.footer {
  padding: 40px 20px;
  text-align: center;
  color: scale-color($light-color, $alpha: -40%);

  &__text {
    font-size: 0.9em;
  }

  a {
    font-weight: 600;
    color: $light-color;
    text-decoration-color: scale-color($light-color, $alpha: -60%);

    &:hover {
      text-decoration-color: $light-color;
    }
  }
}