// Footer

@use '../base/utilities' as *;

.footer {
  padding: 50px 0 20px;

  &__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 50px;

    a {
      display: inline-flex;
      align-items: center;
      transform: translateY(200%);
    }
  }

  .menu {
    font-size: $s-size;

    &__item:last-child {
      margin-bottom: 0;
    }

    img {
      margin-left: 5px;
    }
  }

  .social-menu {
    text-align: right;
    font-size: $s-size;

    &__item:last-child {
      margin-bottom: 0;
    }

    &__icon {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      column-gap: 10px;

      img {
        transform: translateX(-20px);
      }
    }
  }

  &__copyright {
    display: grid;
    margin-top: 40px;
    text-align: center;
    overflow-y: hidden;
    color: scale-color($light-color, $alpha: -40%);

    .made-with {
      font-size: $xs-size;
      transform: translateY(200%);
      @include setFlex(justify-content);

      img {
        margin-left: 5px;
      }
    }

    .copyright {
      transform: translateY(200%);
      font-size: $xxs-size;
    }
  }

  img {
    width: 10px;
    transition: all 200ms;
  }
}