// Grid System

@use '../base/utilities' as *;

.grid {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-auto-rows: max-content;
}

.grid-boundaries {
  display: none;
  grid-column: margin2-start / margin3-end;
  border: {
    left: 1px solid scale-color($primary-color, $alpha: -80%);
    right: 1px solid scale-color($primary-color, $alpha: -80%);
  }
  @include setPosition(absolute, -10);
}

.index-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}