// Grid System

.grid {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-auto-rows: max-content;
}

.grid-boundaries {
  display: none;
}

.index-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}