// Main Section - Hero

@use '../base/utilities' as *;

.main-section {
  padding: 0 20px;
  align-self: center;
}

.hero {
  text-align: center;

  &__picture {
    width: 150px;
  }

  &__title {
    margin: 25px 0 10px;
    font-size: 2.25em;
    font-weight: 500;
    line-height: 40px;
  }

  &__description {
    margin: 0 0 30px;
    font-size: 1.12em;
  }

  &__cta {
    a {
      font-size: 0.9em;
      text-decoration: none;
      color: $primary-color;
    }

    img {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}