// Main Section - Hero

@use '../base/utilities' as *;

.main-section {
  padding: 0 20px;
  align-self: center;
}

.hero {
  text-align: center;

  &__picture {
    width: 150px;
  }

  &__title {
    margin: 25px 0 10px;

    h1 {
      margin: 0;
      font-size: 2.25em;
      font-weight: 500;
      line-height: 1.2em;
      transform: translateY(200%);
    }
  }

  &__description {
    margin: 0 0 30px;

    p {
      margin: 0;
      font-size: 1.12em;
      transform: translateY(200%);
    }
  }

  &__cta {

    a {
      display: inline-flex;
      align-items: center;
      font-size: 0.9em;
      text-decoration: none;
      color: $primary-color;
      transform: translateY(200%);
    }

    img {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}