// Header

@use '../base/utilities' as *;

.navbar {
  display: flex;
  height: 70px;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  user-select: none;

  &__btn {
    order: 3;
  }

  &__menu {
    display: none;
  }
}

.logo {

  &__text {
    @include setFont($m-size, 600, $light-color);
  }
}

.menu-container {
  padding-right: 25px;
  position: fixed;
  right: 10px;
  top: 70px;
  bottom: 0;
  z-index: 30;
  text-align: right;
  overflow-y: auto;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    transform: translateY(200%);
    will-change: transform;
  }

  img {
    transition: all 200ms;
  }
}

.menu {
  @include setFont($l-size, 600);

  &__item {
    margin: 0 0 15px;
    overflow: hidden;
  }

  a {
    color: $light-color;

    img {
      margin-left: 10px;
      opacity: .4;
    }

    &:hover img {
      opacity: 1;
    }
  }
}

.social-menu {
  @include setFont($m-size, 600);

  &__item {
    @extend .menu__item;
  }

  .twitter {
    color: $twitter-color;
  }

  .github {
    color: $light-color;
  }

  .linkedin {
    color: $linkedin-color;
  }

  span, &__icon {
    overflow: hidden;
  }

  &__icon {
    display: grid;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    img {
      transform: translateX(-30px);
    }
  }

  a:hover img {
    transform: translateX(0);
  }

  a:hover {
    transition: color 200ms;
    color: $light-color;
  }
}

.menu--active {
  display: block;
}