// Header

@use '../base/utilities' as *;

.navbar {
  height: 70px;
  padding: 10px 25px;
  z-index: 20;
  overflow-x: hidden;
  user-select: none;
}

.menu-container {
  display: none;
  padding-right: 25px;
  text-align: right;
  position: fixed;
  right: 10px;
  top: 70px;
  bottom: 0;
  overflow-y: auto;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    transform: translateY(200%);
    will-change: transform;

    img {
      margin-left: 10px;
    }
  }
}

.menu {
  font-size: $l-size;
  font-weight: 600;

  &__item {
    margin: 0 0 15px;
    overflow: hidden;
  }

  a {
    color: $light-color;
  }
}

.social-menu {
  font-size: $m-size;
  font-weight: 600;

  &__item {
    margin: 0 0 15px;
    overflow: hidden;

  }

  .twitter {
    color: $twitter-color;
  }

  .github {
    color: $light-color;
  }

  .linkedin {
    color: $linkedin-color;
  }
}

.menu--active {
  display: block;
}