// Responsive - Mobile(L) > 400px / Tablet > 600px

@use '../base/utilities' as *;

@media screen and (min-width: 400px) {
  .project {
    height: 295px;

    .main-screen, &__options {
      height: 270px;
    }

    &:hover &__options {
      transform: translateY(-270px);
    }
  }
}

@media screen and (min-width: 600px) {
  .project-options {
    grid-template-columns: repeat(2, 250px);
  }

  .slideshow__screen {
    height: 395px;
    max-width: unset;

    .main-screen {
      height: 380px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header, .pinned-message, .project, .hero, .index-footer, .about-me, .project-options, .project-info {
    font-size: 18px;
  }

  .footer {
    font-size: 17px;
  }

  .hero {

    &__picture {
      width: 200px;
    }
  }

  .slideshow__screen {
    height: 495px;

    .main-screen {
      height: 470px;
    }

    .arrow {
      width: 25px;
    }
  }
}

@media screen and (min-width: 850px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .footer {

    .menu {
      display: flex;

      &__item {
        margin: 0 20px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    .social-menu {
      display: flex;
      justify-content: flex-end;

      &__item {
        margin: 0 0 0 20px;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  .slideshow {
    grid-template-columns: unset;
    justify-content: unset;

    &__screen {
      height: 560px;

      .main-screen {
        height: 545px;
      }
    }

    &__control {
      padding: 0 20px;
    }
  }
}